<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Restaurantly - Admin</title>
    <!-- Favicon icon -->
    <link rel="icon" type="~/Restaurantly/quixlab-master/quixlab-master/image/png" sizes="16x16" href="~/Restaurantly/quixlab-master/quixlab-master/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/Restaurantly/quixlab-master/quixlab-master/css/style.css" rel="stylesheet">

</head>
